    <% include part_head %>
<div class="container">

<form id="application" action="/users/<%= update == "true" ? "update" : 'apply' %>" method="POST">

    <div id="general">
        <h2>Tell us about yourself...</h2>

        <div class="form-group">
            <label for="general-first-name">First name</label>
            <input type="text" id="general-last-name" name="firstname" class="form-control"
                   value="<%= firstname %>">

            <label for="general-last-name">Last name</label>
            <input type="text" id="general-first-name" name="lastname" class="form-control"
                   value="<%= lastname %>">

            <label for="general-email">Email</label>
            <input type="text" id="general-email" name="email" class="form-control"
                   value="<%= email %>">

            <label for="general-password">Password</label>
            <input type="password" id="general-password" class="form-control" name="password">

            <label for="general-swag-size">Shirt size</label>
            <select id="general-swag-size" class="form-control" name="swag_size">
                <option <%= swag_size == "" ? "selected" : '' %> disabled hidden value='#'>Select a size...</option>
                <option value="xs" <%= swag_size == "xs" ? "selected" : '' %>>xSmall</option>
                <option value="s" <%= swag_size == "s" ? "selected" : '' %>>Small</option>
                <option value="m" <%= swag_size == "m" ? "selected" : '' %>>Medium</option>
                <option value="l" <%= swag_size == "l" ? "selected" : '' %>>Large</option>
                <option value="xl" <%= swag_size == "xl" ? "selected" : '' %>>xLarge</option>
                <option value="xxl" <%= swag_size == "xxl" ? "selected" : '' %>>xxLarge</option>
                <option value="xxxl" <%= swag_size == "xxxl" ? "selected" : '' %>>xxxLarge</option>
            </select>

            <div class="checkbox">
                <label>
                    <h4>
                        <input type="checkbox" id="general-age" name="is_18" <%= is_18 == "true" ? "checked" : '' %>>
                        I will be at least 18 years old by April 17th, 2015
                    </h4>
                </label>
            </div>

            <a href="#" id="validate-general" class="btn-lg usr-btn-red">
                Next
            </a>
        </div>
    </div>


    <div id="school"> <!--style="display:none;"-->
        <h2>School and Travel</h2>

        <div class="form-group">

            <div class="checkbox">
                <label>
                    <h4><input type="checkbox" id="school-attend-school"
                               name="attend_school" <%= attend_school == "true" ? "checked" : '' %>>
                        I currently attend a university</h4>
                </label>
            </div>

            <div id="school-selector" <%= attend_school == "false" ? "style=display:none;" : '' %>>
                <input type="text" id="school-school" name="school" class="form-control" placeholder="Which one?"
                       value="<%= school %>">
            </div>

            <% include part_state_select %>
            <% include part_country_select %>

            <label for="school-city">City</label>
            <input type="text" id="school-city" name="city" class="form-control" placeholder="City" value="<%= city %>">

            <label for="school-zip">Zipcode</label>
            <input type="text" id="school-zip" name="zip" class="form-control" placeholder="Zip" value="<%= zip %>">

            <br/>

            <p>
                We will be providing travel reimbursement through Venmo. If we can't send a bus your way, do you need
                travel reimbursement to attend MadHacks?
            </p>

            <div class="radio">
                <label><h4>
                    <input type="radio" id="school-travel-no" name="travel" value="false"
                           autocomplete="off" <%= travel == "false" ? "checked" : '' %>>
                    No</h4>
                </label>
            </div>

            <div class="radio">
                <label><h4>
                    <input type="radio" id="school-travel-yes" name="travel" value="true"
                           autocomplete="off" <%= travel == "true" ? "checked" : '' %>>
                    Yes</h4>
                </label>
            </div>

            <div id="venmo" <%= travel == "false" ? 'style=display:none;' : '' %>>
                <label for="school-venmo">Venmo username</label>
                <input type="text" id="school-venmo" name="venmo" class="form-control" placeholder="Venmo ID"
                       value="<%= venmo %>">
            </div>

            <br />
            <a href="#" class="btn-lg previous">
                Previous
            </a>
            &nbsp;
            <a href="#" id="validate-school" class="btn-lg usr-btn-red">
                Next
            </a>
        </div>
    </div>


    <div id="diet"> <!--style="display:none;"-->
        <h2>Dietary Restrictions</h2>

        <div class="form-group">
            <div class="checkbox">
                <label><h4>
                        <input type="checkbox" id="apply-food-vegetarian"
                               name="food_vegetarian" <%= food_vegetarian == "true" ? "checked" : '' %>>
                        Vegetarian
                    </h4></label>
            </div>

            <div class="checkbox">
                <label><h4>
                        <input type="checkbox" id="apply-food-vegan"
                               name="food_vegan" <%= food_vegan == "true" ? "checked" : '' %>>
                        Vegan
                    </h4></label>
            </div>

            <div class="checkbox">
                <label><h4>
                        <input type="checkbox" id="apply-food-glutenfree"
                               name="food_glutenfree" <%= food_glutenfree == "true" ? "checked" : '' %>>
                        Gluten Free
                    </h4></label>
                </label>
            </div>

            <div class="checkbox">
                <label><h4>
                        <input type="checkbox" id="apply-food-pescetarian"
                               name="food_pescetarian" <%= food_pescetarian == "true" ? "checked" : '' %>>
                        Pescetarian
                    </h4></label>
            </div>


            <div class="checkbox"><label><h4>
                        <input type="checkbox" id="apply-food-dairyfree"
                               name="food_dairyfree" <%= food_dairyfree == "true" ? "checked" : '' %>>Dairy Free
                    </h4></label>
            </div>

            <div class="checkbox"><label><h4>
                        <input type="checkbox" id="apply-food-kosher"
                               name="food_kosher" <%= food_kosher == "true" ? "checked" : '' %>>

                        Kosher</h4></label>
            </div>

            <div class="checkbox">
                <label for="apply-food-halal"><h4>
                        <input type="checkbox" id="apply-food-halal"
                               name="food_halal" <%= food_halal == "true" ? "checked" : '' %>>
                        Halal
                    </h4></label>
            </div>

            <label for="apply-food-other">Other</label>
            <input type="text" id="apply-food-other" name="food_other" class="form-control"
                   value="<%= food_other %>">

            <br/>
            <a href="#" class="btn-lg previous">
                Previous
            </a>&nbsp;
            <a id="validate-diet" class="btn-lg usr-btn-red">
                Next
            </a>
        </div>
    </div>


    <div id="resume"> <!--style="display:none;"-->
        <h2>Professional</h2>
        <p>These can either be usernames or URLs, we'll figure it out.</p>
        <div class="form-group">
                <label for="apply-Github">GitHub</label>
                <input type="text" id="apply-Github" name="Github" class="form-control" value="<%= Github %>">

                <label for="apply-linkedIn">LinkedIn</label>
                <input type="text" id="apply-linkedIn" name="linkedIn" class="form-control" value="<%= linkedIn %>">

                <label for="apply-Dribble">Dribbble</label>
                <input type="text" id="apply-Dribble" name="Dribble" class="form-control" value="<%= Dribble %>">

                <label for="resume-button">Resume</label>
                <input style="display:none" id="resume-button-shadow" type="file"
                       name="resume" <%= resume != "Select Resume" ? "data-done='" + resume + "" : '' %>>
                <button id="resume-button" class="form-control" type="button">
                    <div><%= resume %></div>
                </button>

                <br />
                <a href="#" class="btn-lg previous">
                    Previous
                </a>&nbsp;
                <a id="validate-resume" class="btn-lg usr-btn-red">
                    Next
                </a>
        </div>
    </div>

    <div id="hacker"> <!--style="display:none;"-->
        <div>Hacker</div>
        <ul>
            <li>
                <label for="hacker-exposure">How did you hear about MadHacks?</label>
                <textarea multiline="true" id="hacker-exposure"><%= exposure %></textarea>
                <input type="text" id="hacker-exposure-shadow" style="display:none;" name="exposure"
                       value="<%= exposure %>">
            </li>
            <li>
                <input type="checkbox" id="hacker-plan-hardware"
                       name="plan_hardware" <%= plan_hardware == "true" ? "checked" : '' %>>
                <label for="hacker-plan-hardware">Do you plan to hack on hardware?
                    <div>
                        <div></div>
                    </div>
                </label>
            </li>
            <li id="plan-hardware-on" <%= plan_hardware == "true" ? '' : 'style=display:none;' %>>
                <label for="hacker-exposure">What Hardware do you want to hack on?</label>
                <textarea multiline="true" id="hacker-plan-hardware-on"><%= plan_hardware_on %></textarea>
                <input type="text" name="plan_hardware_on" id="hacker-plan-hardware-on-shadow" style="display:none;"
                       value="<%= plan_hardware_on %>">
            </li>
            <li>
                <input type="checkbox" id="hacker-plan-mentee"
                       name="plan_mentee" <%= plan_mentee == "true" ? "checked" : '' %>>
                <label for="hacker-plan-mentee">Do you want to be a mentee?
                    <div>
                        <div></div>
                    </div>
                </label>
            </li>
            <li>
                <input type="checkbox" id="hacker-plan-mentor"
                       name="plan_mentor" <%= plan_mentor == "true" ? "checked" : '' %>>
                <label for="hacker-plan-mentor">Do you want to be a mentor?
                    <div>
                        <div></div>
                    </div>
                </label>
            </li>
            <li>
                <input type="checkbox" id="hacker-need-partner"
                       name="need_partner" <%= need_partner == "true" ? "checked" : '' %>>
                <label for="hacker-need-partner">Are you looking for partners?
                    <div>
                        <div></div>
                    </div>
                </label>
            </li>
            <li id="partner" <%= (plan_mentor == "true" || need_partner == "true") ? '' : 'style=display:none;' %>>
                <label for="hacker-exposure">What are some of your areas of knowledge?</label>
                <textarea multiline="true" id="hacker-need-partner-skills"><%= plan_need_partner_skills %></textarea>
                <input type="text" name="plan_need_partner_skills" id="hacker-need-partner-skills-shadow"
                       style="display:none;" value="<%= plan_need_partner_skills %>">
            </li>
            <li>
                <hr>
            </li>
            <li>
                <button type="button">
                    <div>Previous</div>
                </button>
                <button type="submit">
                    <div>
                        <%= update == "true" ? "Update" : 'Submit' %>
                    </div>
                </button>
            </li>


        </ul>
    </div>
    <div id="success"> <!--style="display:none;"-->
        <div>Success</div>
        <ul>
            <li>
                <img src="/img/logo.png">
            </li>
            <li>
                <span><span>#Hack</span><span>City</span></span>
            </li>
            <li>
                <hr>
            </li>
            <li>
                <span><%= update == "true" ? "If You haven't yet, p" : 'P' %>lease take a moment to fill out an optional and anonymous survey</span>
            </li>
            <li>
                <hr>
            </li>
            <li>
                <div></div>
                <button id="anon-surv" type="button">
                    <div>Anonymous Survey</div>
                </button>
            </li>
        </ul>
    </div>
</form>


    <!-- todo: remove this survey for now...


<form id="anon" action="/users/anon" method="POST">
    <div id="survey" style="display:none;">
        <ul>
            <div>Spooky Anon</div>
            <li>
                <% include part_state_select %>
                <input type="text" name="age" placeholder="Age">
            </li>
            <li>
                <select name="degree">
                    <option selected disabled hidden value='#'>Study</option>
                    <option value="cs">Computer Science</option>
                    <option value="se">Software Engineering</option>
                    <option value="ee">Electrical Engineering</option>
                    <option value="ce">Computer Engineering</option>
                    <option value="d">Design</option>
                    <option value="b">Business</option>
                    <option value="o">Other</option>
                </select>
                <select name="education">
                    <option selected disabled hidden value='#'>Education</option>
                    <option value="highschool">High School</option>
                    <option value="dropout">Dropout</option>
                    <option value="freshman">Freshman</option>
                    <option value="sophomore">Sophomore</option>
                    <option value="junior">Junior</option>
                    <option value="senior">Senior</option>
                    <option value="senior++">Senior++</option>
                    <option value="gradschool">Grad School</option>
                    <option value="graduate">Graduate</option>
                </select>
            </li>
            <li>
                <select name="gender">
                    <option selected disabled hidden value='#'>Gender</option>
                    <option value="male">Hacker Boy</option>
                    <option value="female">Hacker Girl</option>
                    <option value="other">Just Hacker</option>
                </select>
                <select name="ethnicity">
                    <option selected disabled hidden value='#'>Ethnicity</option>
                    <option value="n">Native American</option>
                    <option value="a">Asian</option>
                    <option value="i">India</option>
                    <option value="b">Black</option>
                    <option value="p">Pacific</option>
                    <option value="w">White</option>
                    <option value="o">Other</option>
                </select>
            </li>
            <li>
                <span>How many Hackathons have you been to?</span>
                <input type="text" name="hacks" placeholder=">9000">
            </li>
            <li>
                <span>How many of your parents/guardians have college degrees?</span>
                <select name="parent_education">
                    <option value="none">None</option>
                    <option value="one">One</option>
                    <option value="multiple">Multiple</option>
                </select>
            </li>
            <li>
                <span>What is your background?</span>
                <input type="text" name="background" placeholder='"designer/programmer"'>
            </li>
            <li>
                <hr>
            </li>
            <li>
                <div></div>
                <button type="submit" id="anon-submit">
                    <div>Submit</div>
                </button>
            </li>
        </ul>
    </div>
</form>
-->


<div id="thanks" style="display:none;">
    <div>Thanks!</div>
    <ul>
        <li>
            <span><span>#Hack</span><span>City</span></span>
        </li>
    </ul>
</div>
    </div>
<% include part_foot %>
