<%include part_head %>
<form class="container" id="application" action="/users/<%= update=="true" ? "update" : 'apply' %>" method="POST">
	
	<div id="general" class="inner" style="display:none;">
		<div class="hackCity">General</div>
		<ul>
			<li class="split">
				<input type="text" id="general-last-name" name="firstname" placeholder="First Name" value="<%= firstname %>">
				<input type="text" id="general-first-name" name="lastname" placeholder="Last Name" value="<%= lastname %>">
			</li>
			<li class="split">
				<input type="text" id="general-email" name="email" placeholder="Email" value="<%= email %>">
				<input type="password" id="general-password" name="password" placeholder="Password">
			</li>
			<li>
				<select id="general-swag-size" name="swag_size">
					<option <%= swag_size=="" ? "selected" : '' %> disabled hidden value='#'>Swag Size</option>
					<option value="xs" <%= swag_size=="xs" ? "selected" : '' %>>xSmall</option>
					<option value="s" <%= swag_size=="s" ? "selected" : '' %>>Small</option>
					<option value="m" <%= swag_size=="m" ? "selected" : '' %>>Medium</option>
					<option value="l" <%= swag_size=="l" ? "selected" : '' %>>Large</option>
					<option value="xl" <%= swag_size=="xl" ? "selected" : '' %>>xLarge</option>
					<option value="xxl" <%= swag_size=="xxl" ? "selected" : '' %>>xxLarge</option>
					<option value="xxxl" <%= swag_size=="xxxl" ? "selected" : '' %>>xxxLarge</option>
				</select>
			</li>
			<li style="margin-top:10px;">
				<input type="checkbox" id="general-age" name="is_18" <%= is_18=="true" ? "checked" : '' %>>
				<label for="general-age">Will you be 18 years of age by April 17th, 2015?&nbsp;<div><div></div></div></label>
			</li>
			<li>
				<hr>
			</li>
			<li class="split">
				<div></div>
				<button id="validate-general" class="right btn" type="button"><div>Next</div></button>
			</li>
		</ul>
	</div>
	<div id="school" class="inner" style="display:none;">
		<div class="hackCity">School</div>
		<ul>
			<li>
				<input type="checkbox" id="school-attend-school" name="attend_school" <%= attend_school=="true" ? "checked" : '' %>>
				<label for="school-attend-school">Do you attend a university?<div><div></div></div></label>
			</li>
			<li id="school-selector" <%= attend_school=="false" ? "style=display:none;" : '' %>>
				<input type="text" id="school-school" name="school" placeholder="School" value="<%= school %>">
			</li>
			<li class="split">
				<%include part_state_select %>
				<%include part_country_select %>
			</li>
			<li class="split">
				<input type="text" id="school-city" name="city" placeholder="City" value="<%= city %>">
				<input type="text" id="school-zip" name="zip" placeholder="Zip" value="<%= zip %>">
			</li>
			<li>
				<span>Travel Reimbursement: </span>
			</li>
			<li>
				<div>
					<input type="radio" id="school-travel-no" name="travel" value="false" autocomplete="off" <%= travel=="false" ? "checked" : '' %>>
					<label for="school-travel-no">No:<div><div></div></div></label>
					<input type="radio" id="school-travel-yes" name="travel" value="true" autocomplete="off" <%= travel=="true" ? "checked" : '' %>>
					<label for="school-travel-yes">Yes:<div><div></div></div></label>
				</div>
			</li>
			<li id="venmo" class="split" <%= travel=="false" ? 'style=display:none;' : '' %>>
				<span>venmo.com/</span>
				<input type="text" id="school-venmo" name="venmo" placeholder="Venmo ID" value="<%= venmo %>">
			</li>
			<li>
				<hr>
			</li>
			<li class="split">
				<button class="left btn" type="button"><div>Previous</div></button>
				<button id="validate-school" class="right btn" type="button"><div>Next</div></button>
			</li>
		</ul>
	</div>
	<div id="diet" class="inner" style="display:none;">
		<div class="hackCity">Diet</div>
		<ul>
			<li>
				<span>Dietary Restrictions</span>
			</li>
			<li class="split">
				<div class="label">
					<input type="checkbox" id="apply-food-vegetarian" name="food_vegetarian" <%= food_vegetarian=="true" ? "checked" : '' %>>
					<label for="apply-food-vegetarian">Vegetarian&nbsp;<div><div></div></div></label>
				</div>
				<div class="label">
					<input type="checkbox" id="apply-food-vegan" name="food_vegan" <%= food_vegan=="true" ? "checked" : '' %>>
					<label for="apply-food-vegan"><div><div></div></div>&nbsp;Vegan</label>
				</div>
			</li>
			<li class="split">
				<div class="label">
					<input type="checkbox" id="apply-food-glutenfree" name="food_glutenfree" <%= food_glutenfree=="true" ? "checked" : '' %>>
					<label for="apply-food-glutenfree">&nbsp;Gluten Free<div><div></div></div></label>	
				</div>
				<div class="label">
					<input type="checkbox" id="apply-food-pescetarian" name="food_pescetarian" <%= food_pescetarian=="true" ? "checked" : '' %>>
					<label for="apply-food-pescetarian"><div><div></div></div>&nbsp;Pescetarian</label>
				</div>
			</li>
			<li class="split">
				<div class="label">
					<input type="checkbox" id="apply-food-dairyfree" name="food_dairyfree" <%= food_dairyfree=="true" ? "checked" : '' %>>
					<label for="apply-food-dairyfree">Dairy Free&nbsp;<div><div></div></div></label>
				</div>
				<div class="label">
					<input type="checkbox" id="apply-food-kosher" name="food_kosher" <%= food_kosher=="true" ? "checked" : '' %>>
					<label for="apply-food-kosher"><div><div></div></div>&nbsp;Kosher</label>
				</div>
			</li>
			<li class="split">
				<div class="label">
					<input type="checkbox" id="apply-food-halal" name="food_halal" <%= food_halal=="true" ? "checked" : '' %>>
					<label for="apply-food-halal">Halal&nbsp;<div><div></div></div></label>
				</div>
				<input type="text" id="apply-food-other" style="padding-top:0;margin-top:0;" name="food_other" placeholder="Other" value="<%= food_other %>"> 
			</li>
			<li>
				<hr>
			</li>
			<li class="split">
				<button class="left btn" type="button"><div>Previous</div></button>
				<button id="validate-diet" class="right btn" type="button"><div>Next</div></button>
			</li>
		</ul>
	</div>
	<div id="resume" class="inner" style="display:none;">
		<div class="hackCity">Professional</div>
		<ul>
			<li class="split">
				<span>github.com/</span>
				<input type="text" id="apply-Github" name="Github" placeholder="Github" value="<%= Github %>">
			</li>
			<li class="split">
				<span>linkedin.com/in/</span>
				<input type="text" id="apply-linkedIn" name="linkedIn" placeholder="linkedIn" value="<%= linkedIn %>">
			</li>
			<li class="split">
				<span>dribbble.com/</span>
				<input type="text" id="apply-Dribble" name="Dribble" placeholder="Dribble" value="<%= Dribble %>">
			</li>
			<li class="split">
				<span>Resume</span>
				<input style="display:none" id="resume-button-shadow" type="file" name="resume" <%= resume!="Select Resume" ? "data-done='"+resume+"" : '' %>>
				<button id="resume-button" type="button" class=" btn">
					<div><%= resume %></div>
				</button>
			</li>
			<li>
				<hr>
			</li>
			<li class="split">
				<button class="left btn" type="button"><div>Previous</div></button>
				<button id="validate-resume" class="right btn" type="button"><div>Next</div></button>
			</li>
		</ul>
	</div>
	<div id="hacker" class="inner" style="display:none;">
		<div class="hackCity">Hacker</div>
		<ul>
			<li>
				<label for="hacker-exposure">How did you hear about MadHacks?</label>
				<textarea multiline="true" id="hacker-exposure" ><%= exposure %></textarea>
				<input type="text" id="hacker-exposure-shadow" style="display:none;" name="exposure" value="<%= exposure %>">
			</li>
			<li>
				<input type="checkbox" id="hacker-plan-hardware" name="plan_hardware" <%= plan_hardware=="true" ? "checked" : '' %>>
				<label for="hacker-plan-hardware">Do you plan to hack on hardware?<div><div></div></div></label>
			</li>
			<li id="plan-hardware-on" <%= plan_hardware=="true" ? '' : 'style=display:none;' %>>
				<label for="hacker-exposure">What Hardware do you want to hack on?</label>
				<textarea multiline="true" id="hacker-plan-hardware-on"><%= plan_hardware_on %></textarea>
				<input type="text" name="plan_hardware_on" id="hacker-plan-hardware-on-shadow" style="display:none;" value="<%= plan_hardware_on %>">
			</li>
			<li>
				<input type="checkbox" id="hacker-plan-mentee" name="plan_mentee" <%= plan_mentee=="true" ? "checked" : '' %>>
				<label for="hacker-plan-mentee">Do you want to be a mentee?<div><div></div></div></label>
			</li>
			<li>
				<input type="checkbox" id="hacker-plan-mentor" name="plan_mentor" <%= plan_mentor=="true" ? "checked" : '' %>>
				<label for="hacker-plan-mentor">Do you want to be a mentor?<div><div></div></div></label>
			</li>
			<li>
				<input type="checkbox" id="hacker-need-partner" name="need_partner" <%= need_partner=="true" ? "checked" : '' %>>
				<label for="hacker-need-partner">Are you looking for partners?<div><div></div></div></label>
			</li>
			<li id="partner" <%= (plan_mentor=="true" || need_partner=="true") ? '' : 'style=display:none;' %>>
				<label for="hacker-exposure">What are some of your areas of knowledge?</label>
				<textarea multiline="true" id="hacker-need-partner-skills"><%= plan_need_partner_skills %></textarea>
				<input type="text" name="plan_need_partner_skills" id="hacker-need-partner-skills-shadow" style="display:none;" value="<%= plan_need_partner_skills %>">
			</li>
			<li>
				<hr>
			</li>
			<li class="split">
				<button class="left btn" type="button"><div>Previous</div></button>
				<button class="right btn" type="submit"><div>
					<%= update=="true" ? "Update" : 'Submit' %>
				</div></button>
			</li>


		</ul>
	</div>
	<div id="success" class="inner" style="display:none;">
		<div class="hackCity">Success</div>
		<ul style="text-align:center;">
			<li>
				<img src="/img/logo.png">
			</li>
			<li>
				<span><span class="hack">#Hack</span><span class="city">City</span></span>
			</li>
			<li>
				<hr class="withbottom">
			</li>
			<li>
				<span><%= update=="true" ? "If You haven't yet, p" : 'P' %>lease take a moment to fill out an optional and anonymous survey</span>
			</li>
			<li>
				<hr>
			</li>
			<li class="split">
				<div></div>
				<button id="anon-surv" class="right btn" type="button"><div>Anonymous Survey</div></button>
			</li>
		</ul>
	</div>
</form>
<form id="anon" action="/users/anon" method="POST">
	<div id="survey" class="inner" style="display:none;">
		<ul>
			<div class="hackCity">Spooky Anon</div>
			<li class="split">
				<%include part_state_select%>
				<input type="text" name="age" placeholder="Age">
			</li>
			<li class="split">
				<select name="degree">
					<option selected disabled hidden value='#'>Study</option>
					<option value="cs">Computer Science</option>
					<option value="se">Software Engineering</option>
					<option value="ee">Electrical Engineering</option>
					<option value="ce">Computer Engineering</option>
					<option value="d">Design</option>
					<option value="b">Business</option>
					<option value="o">Other</option>
				</select>
				<select name="education">
					<option selected disabled hidden value='#'>Education</option>
					<option value="highschool">High School</option>
					<option value="dropout">Dropout</option>
					<option value="freshman">Freshman</option>
					<option value="sophomore">Sophomore</option>
					<option value="junior">Junior</option>
					<option value="senior">Senior</option>
					<option value="senior++">Senior++</option>
					<option value="gradschool">Grad School</option>
					<option value="graduate">Graduate</option>
				</select>
			</li>
			<li class="split">
				<select name="gender">
					<option selected disabled hidden value='#'>Gender</option>
					<option value="male">Hacker Boy</option>
					<option value="female">Hacker Girl</option>
					<option value="other">Just Hacker</option>
				</select>
				<select name="ethnicity">
					<option selected disabled hidden value='#'>Ethnicity</option>
					<option value="n">Native American</option>
					<option value="a">Asian</option>
					<option value="i">India</option>
					<option value="b">Black</option>
					<option value="p">Pacific</option>
					<option value="w">White</option>
					<option value="o">Other</option>
				</select>
			</li>
			<li class="split">
				<span>How many Hackathons have you been to?</span>
				<input type="text" name="hacks" placeholder=">9000">
			</li>
			<li class="split">
				<span>How many of your parents/guardians have college degrees?</span>
				<select name="parent_education">
					<option value="none">None</option>
					<option value="one">One</option>
					<option value="multiple">Multiple</option>
				</select>
			</li>
			<li class="split">
				<span>What is your background?</span>
				<input type="text" name="background" placeholder='"designer/programmer"'>
			</li>
			<li>
				<hr>
			</li>
			<li class="split">
				<div></div>
				<button class="right btn" type="submit" id="anon-submit"><div>Submit</div></button>
			</li>
		</ul>
	</div>
</form>
<div id="thanks" class="inner" style="display:none;">
	<div class="hackCity">Thanks!</div>
	<ul style="text-align:center;">
		<li style="margin-top:30px;">
			<span><span class="hack">#Hack</span><span class="city">City</span></span>
		</li>
	</ul>
</div>
<%include part_foot %>